/* BASE */
* {
  margin: auto;
  padding: auto; }

body {
  background-color: #f1cba6;
  background-image: url("images/layout/background-box.png");
  background-repeat: repeat; }

/* unvisited link */
a:link {
  text-decoration: none; }

/* visited link */
a:visited {
  text-decoration: none; }

/* mouse over link */
a:hover {
  text-decoration: none; }

/* selected link */
a:active {
  text-decoration: none; }

/* LAYOUT */
.background-content {
  background-image: url("images/layout/background4content2.png");
  background-repeat: repeat-y;
  background-size: contain;
  overflow: scroll;
  height: 1100px; }

.nav-background-content {
  background-image: url("images/layout/background4content3.png");
  background-repeat: no-repeat; }

.footer-background-content {
  background-image: url("images/layout/footerbackground.png");
  background-repeat: no-repeat;
  width: 100%; }

.main-content {
  position: fixed; }

.desktop-nav {
  z-index: 5; }

#links {
  margin-top: 75px;
  margin-left: 0px;
  padding-left: 42px;
  padding-top: 25px;
  width: 100%; }

.nav-desktop-position {
  padding-top: 96px;
  padding-left: 30px;
  height: 100%; }

/* MODULE */
/* STATE */
/* THEME */
/* FORM */
input, textarea {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  border: black solid 1px; }

label {
  margin-bottom: 0px; }

.error {
  color: blue; }

form {
  width: 100%; }
